body{
  font-size: 20px;
  font-weight: bold;
  font-family:'Courier New',monospace;
  text-shadow: 1px 1px 1px #222;
  background: -webkit-repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(0, 0, 0, .05) 10px, rgba(0, 0, 0, .05) 20px),-webkit-linear-gradient(top, #e6e0dc, #b3aba6);

}

h1{
  text-transform: uppercase;
  text-align: center;
  font-size: 2.7em;
}

a{
  text-decoration: none;
}

#field{
  background-color: #ffd54f;
  font-size: 1.1em;
  margin: 5px 5px 5px 5px;
  border: 1px solid #ad1457;
  border-radius: .85rem;
  box-shadow: 0 1px 1px 1px #c2185b;
  text-shadow: 0.1px 0.1px 0.1px #222;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffd54f), to(#ef6c00));
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(0,0,0,0.5),
   0 3px 0 #373737, 0 4px 0 rgba(0,0,0,0.5), 0 6px 0 #373737,
   0 7px 0 rgba(0,0,0,0.5), 0 -10px 5px 10px rgba(0, 0, 0, 0.3) inset,
  0 10px 10px 15px rgba(255, 255, 255, 0.1) inset;

}

 #option{
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5) inset, 0 2px 2px 2px #1F1F1F inset;
  box-sizing: content-box;
  margin:  5px 5px 10px 5px;
  background: -webkit-repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(0, 0, 0, .05) 10px, rgba(0, 0, 0, .05) 20px),-webkit-linear-gradient(top, #e6e0dc, #b3aba6);
  border-radius: .25rem;
  text-align: center;
  padding: .3rem 0.5rem;
  box-shadow: 0 -25px 25px rgba(0, 0, 0, 0.2) inset, 0 0 0 2px rgba(255, 255, 255, 0.25) inset,
  0 0 0 1px rgba(0, 0, 0, 0.75) inset, 0 2px 5px rgba(0, 0, 0, 0.25),
  0px 1px 2px rgba(0, 0, 0, 0.7), inset 4px 0 2px -1px rgba(0,0,0,0.3),
  0 -2px 5px rgba(0, 0, 0, 0.2);

}

/**button**/
.btn {
    display: inline-block;
    font-weight: 540;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    background-color: #e3f2fd;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
}

.btn-lg {
   padding: .5rem 1rem;
   font-size: 1.5rem;
   line-height: 1.5;
   border-radius: .80rem;
   box-shadow: 0 1px 2px 1px #c2185b;
}

.btn-primary {
   color: #fff;
   background-color: #007bff;
   background-image: -webkit-gradient(linear, left top, left bottom, from(#007bff), to(#c32160));
   border-color: #007bff;
   text-shadow: 1px 1px 1px #222;
   -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5) inset, 0 2px 2px 2px #1F1F1F inset;
   box-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(0,0,0,0.5),
    0 3px 0 #373737, 0 4px 0 rgba(0,0,0,0.5), 0 6px 0 #373737,
    0 7px 0 rgba(0,0,0,0.5), 0 -10px 5px 10px rgba(0, 0, 0, 0.3) inset,
   0 10px 10px 15px rgba(255, 255, 255, 0.1) inset;
 }

/**end button**/

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1.5em;
  height: 1.5em;
  cursor: grab ;
  margin: 3px 3px 3px 3px;
  border-radius: .40rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
/****end icon *********/



@media (min-width :768px){
  .btn{
    font-weight: 600;
  }

  #field{
    font-size: 1.5em;
  }
}
